# py
**/__pycache__/
**/env/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# LaTex Build files
*/sol/*.synctex.gz
*/sol/*.pdf
*/sol/*.aux
*/sol/*.bbl
*/sol/*.fdb_latexmk
*/sol/*.fls
*/sol/*.log
*/sol/*.run.xml
*/sol/*.bcf
*/sol/*.blg
*/report/*.synctex.gz
*/report/*.pdf
*/report/*.aux
*/report/*.bbl
*/report/*.fdb_latexmk
*/report/*.fls
*/report/*.log
*/report/*.run.xml
*/report/*.bcf
*/report/*.blg
# Packed files
*.zip

# vscode
.vscode/

# Project cache
*/cache/languages/*
*/cache/models/*
*/cache/tokenizers/*
*/cache/representations/*

# Special cases
Assignment08/data/
Assignment10/data/
Assignment11/code/data/
Assignment11/code/aclImdb_v1.tar.gz
